@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);


#dropdown-menu-6 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-6 .nav .link,
#dropdown-menu-6 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-6 .navbar,
#dropdown-menu-6 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-6 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-6 .dropdown-menu a:hover,
#dropdown-menu-6 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-6 .navbar-toggler {
  color: #ffffff;
}
#header4-8 H1 {
  color: #ffffff;
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
}
#header4-8 P {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
}


#dropdown-menu-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-7 .nav .link,
#dropdown-menu-7 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-7 .navbar,
#dropdown-menu-7 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-7 .dropdown-menu a:hover,
#dropdown-menu-7 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-7 .navbar-toggler {
  color: #ffffff;
}
#header4-x P {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 23px;
}
#header4-x H1 {
  font-family: 'Oswald', sans-serif;
}
#msg-box2-y .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 32px;
}
#msg-box2-y .mbr-article {
  color: #252525;
}
#msg-box2-1b .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 32px;
}
#msg-box2-1b .mbr-article {
  color: #252525;
}
#msg-box2-15 .mbr-header .mbr-header__text {
  color: #252525;
  font-size: 32px;
}
#msg-box2-15 .mbr-article {
  color: #252525;
}


#dropdown-menu-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-7 .nav .link,
#dropdown-menu-7 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-7 .navbar,
#dropdown-menu-7 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-7 .dropdown-menu a:hover,
#dropdown-menu-7 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-7 .navbar-toggler {
  color: #ffffff;
}
#header4-r H1 {
  font-size: 48px;
  font-family: 'Oswald', sans-serif;
}
#header4-r P {
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
}
#slider-1f P {
  color: #ffffff;
}
#msg-box2-1v .mbr-header .mbr-header__text {
  color: #252525;
}
#msg-box2-1v .mbr-article {
  color: #252525;
}


#dropdown-menu-7 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-7 .nav .link,
#dropdown-menu-7 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-7 .navbar,
#dropdown-menu-7 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-7 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-7 .dropdown-menu a:hover,
#dropdown-menu-7 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-7 .navbar-toggler {
  color: #ffffff;
}
#content5-q .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}
#content5-q .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-q .mbr-article {
  color: #fff;
  text-align: center;
}
#content5-q .mbr-article P {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px;
}
#msg-box4-n .mbr-header__text {
  color: #000000;
}
#msg-box4-n .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-n .mbr-article {
  color: #ffffff;
}
#msg-box4-n .mbr-article P {
  color: #000000;
}
#header3-1p H3 {
  font-size: 32px;
  text-align: center;
}
